<!-- iterate through existing comments and display -->

	<% @picture.comments.each do |comment| %>
		<div class="comments">
			<%= comment.content %><br/>  
			<%= format_time(comment.created_at) %>
			<%= link_to "Delete", "/pictures/#{comment.picture_id}/comments/#{comment.id}", data: {confirm: "Delete?"}, method: :delete %>
		</div>
	<% end %>
