<!-- iterate through existing comments and display -->

<% @picture.comments.each do |comment| %>
	<div class="comments">
		<%= comment.content %><br/>  <%= format_time(comment.created_at) %>
	</div><br/>
<% end %>
