<h1>Pictures</h1>
<% @pictures.each do |picture| %>
	<a href=<%= picture_path(picture.id) %> >
		<div class="picture">
			<%= picture.description %><br/>
			<%= image_tag picture.url %><br/>
		</div>
	</a>
<% end %>

